.DS_Store
*/.DS_Store
.ipynb_checkpoints/Lecture2A-part1-checkpoint.ipynb
.ipynb_checkpoints/Lecture2A-part2-checkpoint.ipynb
20s2/.ipynb_checkpoints/IAB303_20s2_start_here-checkpoint.ipynb
20s2/.ipynb_checkpoints/IAB303_20s2_start_here-checkpoint.ipynb
.ipynb_checkpoints/09-lect-notebook-checkpoint.ipynb
20s2/.ipynb_checkpoints/06-tutorial-checkpoint.ipynb
20s2/.ipynb_checkpoints/07-studio-checkpoint.ipynb
20s2/.ipynb_checkpoints/07-tutorial-checkpoint.ipynb
20s2/.ipynb_checkpoints/08-studio-checkpoint.ipynb
21s2/studios/.ipynb_checkpoints/wk08-studio-checkpoint.ipynb
21s2/studios/.ipynb_checkpoints/wk09-studio-partA-checkpoint.ipynb
21s2/studios/.ipynb_checkpoints/wk09-studio-partB-checkpoint.ipynb
21s2/studios/.ipynb_checkpoints/wk10-studio-partA-checkpoint.ipynb
21s2/studios/.ipynb_checkpoints/wk10-studio-partB-checkpoint.ipynb
21s2/studios/data/guardian_key.txt
