.DS_Store
*/.DS_Store
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
21s2/studios/.ipynb_checkpoints/*
21s2/studios/data/.ipynb_checkpoints/*
21s2/tutorials/.ipynb_checkpoints/*
21s2/studios/graphics/.ipynb_checkpoints/*
21s2/videos/.ipynb_checkpoints/*
21s2/videos/data/.ipynb_checkpoints/*

