.DS_Store
*/.DS_Store
.ipynb_checkpoints/*
20s2/.ipynb_checkpoints/*
22s2/data/.ipynb_checkpoints/*
22s2/.ipynb_checkpoints/wk04-Studio-checkpoint.ipynb
22s2/.ipynb_checkpoints/wk04-Tutorial-checkpoint.ipynb
22s2/.ipynb_checkpoints/IAB303-Assessment1-PartB-checkpoint.ipynb
22s2/.ipynb_checkpoints/wk05-Homework-checkpoint.ipynb
22s2/.ipynb_checkpoints/wk05-Studio_PartA-checkpoint.ipynb
22s2/.ipynb_checkpoints/wk05-Studio_PartB-checkpoint.ipynb
22s2/.ipynb_checkpoints/wk05-Tutorial-checkpoint.ipynb
22s2/.ipynb_checkpoints/IAB303-Assignment1-API_access-checkpoint.ipynb
22s2/private/guardian_key.txt
22s2/.ipynb_checkpoints/wk06-Studio-checkpoint.ipynb
22s2/.ipynb_checkpoints/wk06-Tutorial-checkpoint.ipynb
